
Game/.vs/Game/v16/.suo
Game/.vs/Game/v16/Server/sqlite3/db.lock
Game/.vs/Game/v16/Server/sqlite3/storage.ide
Game/.vs/Game/v16/Server/sqlite3/storage.ide-shm
Game/.vs/Game/v16/Server/sqlite3/storage.ide-wal
Game/bin/Debug/netcoreapp3.1/Game.deps.json
Game/bin/Debug/netcoreapp3.1/Game.dll
Game/bin/Debug/netcoreapp3.1/Game.exe
Game/bin/Debug/netcoreapp3.1/Game.pdb
Game/bin/Debug/netcoreapp3.1/Game.runtimeconfig.dev.json
Game/bin/Debug/netcoreapp3.1/Game.runtimeconfig.json
Game/obj/Debug/netcoreapp3.1/App.g.cs
Game/obj/Debug/netcoreapp3.1/App.g.i.cs
Game/obj/Debug/netcoreapp3.1/Game.AssemblyInfo.cs
Game/obj/Debug/netcoreapp3.1/Game.AssemblyInfoInputs.cache
Game/obj/Debug/netcoreapp3.1/Game.assets.cache
Game/obj/Debug/netcoreapp3.1/Game.csproj.FileListAbsolute.txt
Game/obj/Debug/netcoreapp3.1/Game.csprojAssemblyReference.cache
Game/obj/Debug/netcoreapp3.1/Game.designer.deps.json
Game/obj/Debug/netcoreapp3.1/Game.designer.runtimeconfig.json
Game/obj/Debug/netcoreapp3.1/Game.dll
Game/obj/Debug/netcoreapp3.1/Game.exe
Game/obj/Debug/netcoreapp3.1/Game.g.resources
Game/obj/Debug/netcoreapp3.1/Game.pdb
Game/obj/Debug/netcoreapp3.1/Game_MarkupCompile.cache
Game/obj/Debug/netcoreapp3.1/Game_MarkupCompile.i.cache
Game/obj/Debug/netcoreapp3.1/Game_MarkupCompile.i.lref
Game/obj/Debug/netcoreapp3.1/Game_MarkupCompile.lref
Game/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/MainWindow.baml
Game/obj/Debug/netcoreapp3.1/ProjectWindows/MainWindow.g.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/MainWindow.g.i.cs
Game/obj/Game.csproj.nuget.cache
Game/obj/Game.csproj.nuget.dgspec.json
Game/obj/Game.csproj.nuget.g.props
Game/obj/Game.csproj.nuget.g.targets
Game/obj/project.assets.json
Game/obj/project.nuget.cache
Game/.vs/Game/config/applicationhost.config
Game/.vs/Game/DesignTimeBuild/.dtbcache
Game/bin/Debug/netcoreapp3.1/appsettings.json
Game/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.FileExtensions.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Json.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Abstractions.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileProviders.Physical.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.FileSystemGlobbing.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Game/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
Game/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Game/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
Game/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
Game/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
Game/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
Game/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
Game/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
Game/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
Game/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
Game/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
Game/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
Game/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
Game/obj/Debug/netcoreapp3.1/Game.csproj.CopyComplete
Game/obj/Debug/netcoreapp3.1/ProjectWindows/AddCharacter.baml
Game/obj/Debug/netcoreapp3.1/ProjectWindows/AddCharacter.g.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/AddCharacter.g.i.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/CharactersSelectionWindow.baml
Game/obj/Debug/netcoreapp3.1/ProjectWindows/CharactersSelectionWindow.g.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/CharactersSelectionWindow.g.i.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/FightWindow.g.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/FightWindow.g.i.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/AddCharacter.baml
Game/obj/Debug/netcoreapp3.1/ProjectWindows/AddCharacter.g.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/AddCharacter.g.i.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/CharactersSelectionWindow.baml
Game/obj/Debug/netcoreapp3.1/ProjectWindows/CharactersSelectionWindow.g.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/CharactersSelectionWindow.g.i.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/FightWindow.g.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/FightWindow.g.i.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/AddCharacter.baml
Game/obj/Debug/netcoreapp3.1/ProjectWindows/AddCharacter.g.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/AddCharacter.g.i.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/CharactersSelectionWindow.baml
Game/obj/Debug/netcoreapp3.1/ProjectWindows/CharactersSelectionWindow.g.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/CharactersSelectionWindow.g.i.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/FightWindow.g.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/FightWindow.g.i.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/AddCharacter.baml
Game/obj/Debug/netcoreapp3.1/ProjectWindows/AddCharacter.g.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/AddCharacter.g.i.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/CharactersSelectionWindow.baml
Game/obj/Debug/netcoreapp3.1/ProjectWindows/CharactersSelectionWindow.g.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/CharactersSelectionWindow.g.i.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/FightWindow.g.cs
Game/obj/Debug/netcoreapp3.1/ProjectWindows/FightWindow.g.i.cs
